@page "/sandbox"
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@layout SandboxLayout
@rendermode _renderMode

<PageTitle> Piaskownica </PageTitle>
<HeadContent>
    <meta name="description" content="Strona testowa Blazor" />
</HeadContent>

<SectionContent SectionId="SandboxLayout.TopSection">
 <LoginInfo></LoginInfo>
</SectionContent>

<h1> Piaskownica - Testowanie Blazora </h1>


