@page "/currencieshome"
@layout MwTechLayout
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@rendermode _renderMode

<PageTitle> Piaskownica </PageTitle>
<HeadContent>
    <meta name="description" content="Tyres Main Menu" />
</HeadContent>

@*
<SectionContent SectionId="MwTechLayout.TopSection">
 <LoginInfo></LoginInfo>
</SectionContent>
*@


<h1> MwTech - menu główne </h1>


