@page "/tyres/edit/{id:int}"
@layout TyresLayout
<h3>Edytuj Oponę</h3>

<div class="row my-4">
    <div class="col-6">
        <EditForm Model="@_tyre" OnValidSubmit="Save">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group mt-3">
                <label class="form-label">Indeks</label>
                <InputText @bind-Value="_tyre.TyreNumber" class="form-control" style="font-weight:bold" />
                <ValidationMessage For="() => _tyre.TyreNumber" />
            </div>

            <div class="form-group mt-3">
                <label class="form-label">Nazwa</label>
                <InputText @bind-Value="_tyre.Name" class="form-control" />
                <ValidationMessage For="() => _tyre.Name" />
            </div>


            <div class="form-group mt-3">
                <label class="form-label">Średnica w calach</label>
                <InputNumber @bind-Value="_tyre.RimDiameterInInches" class="form-control" />
                <ValidationMessage For="() => _tyre.RimDiameterInInches" />
            </div>

            <div class="form-group mt-3">
                <label class="form-label">Nośność PR </label>
                <InputNumber @bind-Value="_tyre.PlyRating" class="form-control" />
                <ValidationMessage For="() => _tyre.PlyRating" />
            </div>

            <div class="form-group mt-3">
                <label class="form-label">Indeks nośności </label>
                <InputNumber @bind-Value="_tyre.LoadIndex" class="form-control" />
                <ValidationMessage For="() => _tyre.LoadIndex" />
            </div>

            <div class="form-group mt-3">
                <label class="form-label">Opis</label>
                <InputTextArea @bind-Value="_tyre.Description" class="form-control" rows="4" />
            </div>


            @*
            <TelerikTextBox @bind-Value="@_tyre.Name" />
            *@

            <div class="form-group mt-3">
                @if (_isLoading)
                {
                    <button class="btn btn-primary btn-lg btn-spinner" disabled>
                        <img src="/loading.gif" />
                        <span>Zapisywanie...</span>
                    </button>
                }
                else
                {
                    <button class="btn btn-primary btn-lg">
                        Zapisz
                    </button>
                }
            </div>


        </EditForm>

    </div>
</div>

