@page "/tyreshome"
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@layout TyresLayout
@rendermode _renderMode

<PageTitle> Piaskownica </PageTitle>
<HeadContent>
    <meta name="description" content="Tyres Main Menu" />
</HeadContent>

<SectionContent SectionId="SandboxLayout.TopSection">
 <LoginInfo></LoginInfo>
</SectionContent>

<h1> Opony - menu główne </h1>


